@model DomainModels.Models.EmployeeModel

@{
    ViewBag.Title = "Edit Employee Details";
}

<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<h3>Employee Details: @Model.EmpFullName [Edit Mode]</h3>

<div>
    @Html.ActionLink("Back to Employees List", "Index")
</div>
@if (ViewBag.ShowDelete)
{
    <br />
    <div>
        @Html.ActionLink("Delete", "Delete", new { id = Model.EmployeeId, UserId = Model.UserId, file = Model.ProfileImage }, new { onclick = "return confirm('Do you want to delete this employee\\'s record?')", @class = "btn btn-default btn-sm" })
    </div>
}


@using (Html.BeginForm("Edit", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    Html.EnableClientValidation(true);

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EmployeeId)
        @Html.HiddenFor(model => model.ProfileImage)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.Password)
        @Html.HiddenFor(model => model.ConfirmPassword)
        @Html.HiddenFor(model => model.EmpEmailID)
        @Html.HiddenFor(model => model.CreatedDate)

        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-10">
                <img src="@ViewBag.ProfileImage" id="imgfile" style="height:100px;width:100px;" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Profile Image</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.file, new { type = "file", onchange = "readURL(this);" })
                @Html.ValidationMessageFor(model => model.file, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpFullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmpFullName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmpFullName, "", new { @class = "text-danger" })
                <span class="xmp-validation" style="display:none;">**</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Roles, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.Roles, new SelectList(ViewBag.UserRoles, "RoleID", "Name"), new { @class = "form-control", style = "min-height:80px;" })
                @Html.ValidationMessageFor(model => model.Roles, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpFatherName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmpFatherName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmpFatherName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpMotherName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmpMotherName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmpMotherName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpEmailID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.EmpEmailID)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EditPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.EditPassword, new { @class = "form-control", value = @ViewBag.EditPassword })
                @Html.ValidationMessageFor(model => model.EditPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EditConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.EditConfirmPassword, new { @class = "form-control", value = @ViewBag.EditPassword })
                @Html.ValidationMessageFor(model => model.EditConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpPersonalEmailID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmpPersonalEmailID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmpPersonalEmailID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfficialSkypeID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.OfficialSkypeID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OfficialSkypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonalSkypeID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PersonalSkypeID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PersonalSkypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpDOB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpDOB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmpDOB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PANNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PANNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PANNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AadharNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.AadharNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AadharNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JoiningDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JoiningDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JoiningDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResignDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ResignDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ResignDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RelievingDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RelievingDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RelievingDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalPrevExperience, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TotalPrevExperience, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TotalPrevExperience, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrevCompanySalary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PrevCompanySalary, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PrevCompanySalary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalaryHiredAt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SalaryHiredAt, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SalaryHiredAt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastDrawnSalary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LastDrawnSalary, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastDrawnSalary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResignReason, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ResignReason, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ResignReason, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocalAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.LocalAddress, 4, 2, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LocalAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PermanentAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.PermanentAddress, 4, 1, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PermanentAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Reference1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Reference1, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Reference1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Reference1No, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Reference1No, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Reference1No, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Reference2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Reference2, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Reference2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Reference2No, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Reference2No, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Reference2No, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@if (ViewBag.ShowActions)
{
    <div id="List"></div>
    <hr />
    <h4>Documents</h4>
    @Html.Action("DocumentPartialList", new { id = Model.EmployeeId })
}

<div>
    @Html.ActionLink("Back to Employees List", "Index")
</div>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgfile')
                    .attr('src', e.target.result)
                    .width(100)
                    .height(100);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>